<section class=" container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('team_index2') }}">Equipes</a></li>
                    <li><a href="{{ path('contest_index2') }}">Matches</a></li>
                </ul>
            </div>
            <div class="col-8 copyright">
                <p>Copyright© 1994 - 2018 Hockey World Championship. Tous droits réservés</p>
            </div>
        </div>
    </div>
</section>