{% extends 'base.html.twig' %}

{% block content %}
    <img src="http://cms.intersport.fr/wp-content/uploads/2016/10/equipements-foot_banniere.png" class="img-responsive">
    <p>Ceci est du texte !</p>
    <p>ROLLAND CRADOS!</p>

{% endblock %}
