@import '~bootstrap/scss/bootstrap';

body {
  background-color: white;

  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 30px;
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: red;
    transition-duration: 3s;

  }
  h1{
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    text-align: center;
    color: black;
    font-size: 20px;

  }
  
  .flag-admin {
    width: 35px;
    height: 20px;
  }

  .flag-large-admin {
    max-width: 250px;
    height: auto;
    object-fit: cover;
  }

  .score-large-admin {
    font-size: 2em;
  }

  .card {
    margin-top: 10px;
    border:0;
  }
  .description{
    text-align: justify;
  margin-top: 20px;
    }

  .margin-admin {
    margin-bottom: 20px;
    margin-left: 25px;
  }
  .card-img-top{
    height: 250px;
    object-fit: contain;
  }
  .card-text{
    max-height: 200px;
  }

  .playerPics{
  height: 300px;
  width: 300px;
  object-fit: contain;
}
.playerCards{
  width: 100%;
  text-align: center;
  border: 0;
}
.espace{
  margin-top: 50px;
}
/* Size img Equipe*/

.flex-parent{
  display: flex;
}

.flex-child{
  flex: 1;
}

.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.size {
  height: 300px;
  overflow: hidden;
}

.sizeImg {
  height: 300px;
  overflow: hidden;
}

.bottomMargin{
  margin-bottom: 25px;
}
}