@import '~bootstrap/scss/bootstrap';

body {
  background-color: white;

  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 30px;
    color: white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: red;
    transition-duration: 3s;

  }
  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    text-align: center;
    color: black;
    font-size: 20px;

  }
  
  .flag-admin {
    width: 35px;
    height: 20px;
  }

  .card {
    margin-top: 10px;
  }
  
  .playerPics{
    width: 100px;
    object-fit: cover;
  }
}

/* Size img Equipe*/

.flex-parent{
  display: flex;
}

.flex-child{
  flex: 1;
}

.fullheight {
  height: 100%;
}

.fullwidth {
  width: 100%;
}

.size {
  height: 280px;
  overflow: hidden;
}

.bottomMargin{
  margin-bottom: 25px;
}