@import '~bootstrap/scss/bootstrap';

body {
  background-color: white;

  main, ul {
    display:flex;
  }

  ul {
    flex-direction:column;
    width: 400px;
    list-style:none;
    padding:0;
  }

  .game + li {
    flex-grow:1;
  }

  li:first-child,li:last-child {
    flex-grow:.5;
  }

  .game {
    padding-left:20px;
  }

  .winner {
    font-weight:bold;
  }

  .game span {
    float:right;
    margin-right:5px;
    margin-top:5px;;
  }

  .game-top {
    border-bottom:1px solid #aaa;
  }

  .game-top + li {
    border-right:1px solid #aaa; min-height:110px;
  }

  .game-bottom {
    border-top:1px solid #aaa;
  }

  .small-flag {
    height: 25px;
    width: 30px;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-right: 5px;
  }

  .small-flag-top {
    position: relative;
    top: -5px;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    padding-left: 30px;
    color: white;
  }
  input{
    width:100%;
  }
  textarea{
    width:100%;
    height: 200px;
  }
  .card-header{
    background-color:#4e555b; color:white;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: gold;
    transition-duration: 3s;

  }
  h1 {
    text-align: center;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    text-align: center;
    color: black;
    font-size: 20px;

  }

  .flag-admin {
    width: 35px;
    height: 20px;
  }

  .flag-large-admin {
    max-width: 250px;
    height: auto;
    object-fit: cover;
  }

  .score-large-admin {
    font-size: 2em;
  }

  .card {
    margin-top: 10px;
  }
  .description {
    text-align: justify;
    margin-top: 20px;
  }

  .margin-admin {
    margin-bottom: 20px;
    margin-left: 25px;
  }
  .card-img-top {
    height: 70px;
    margin-top: -30px;
    object-fit: contain;
    z-index:850;

  }
  .card-text {
    max-height: 200px;
  }

  .playerPics {
    height: 300px;
    width: 300px;
    object-fit: contain;

  }
  .imageheader{
    height: 300px;
    background-image: url("https://image.noelshack.com/fichiers/2018/20/5/1526635010-fe9a650df5e02b493ebf15bb8de15261.jpg");
    object-fit: cover;
    background-attachment: fixed;
  }
  .imageheader2{
    height: 300px;
    background-image: url("https://image.noelshack.com/fichiers/2018/20/5/1526635436-pexels-photo-63897.jpeg");
    object-fit: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 10px #EEE;
    margin-bottom: 20px;
  }

  .img-thumbnail {
    box-shadow: 5px 5px 5px #eee;
    border: 0;
    border-radius: 0;
    margin-bottom: 15px;

  }
  .playerCards {
    width: 100%;
    text-align: center;
    border: 0;
  }
  .espace {
    margin-top: 50px;
  }
  /* Size img Equipe*/

  .flex-parent {
    display: flex;
  }

  .flex-child {
    flex: 1;
  }

  .fullheight {
    height: 100%;
  }

  .fullwidth {
    width: 100%;
  }

  .size {
    height: 300px;
    overflow: hidden;
  }

  .sizeImg {
    height: 300px;
    overflow: hidden;
  }

  .bottomMargin {
    margin-bottom: 25px;
  }

  .heightCol {
    height: 100%;
  }

  .heightRow {
    height: 150px;
  }
  .borderFluid {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .borderTree {
    border: 10px solid black;
    border-radius: 10px;
    padding: 0px;
  }

  .finalCol {
    height: 450px;
  }

  .NHLImg {
    background-image: url("http://www.desktop-screens.com/data/out/55/2985013-ice-hockey-wallpapers.jpg");
    background-attachment: fixed;
  }

  .marginNeg {
    margin-bottom: 0px;
  }

  .imgtest {
    height: 133px;
    object-fit: cover;
  }
  .item {
    color: #fff;
    width: 100%;
    height: 140px;
    margin: 5px;
    background-size: 100% 200%;
    background-position: right;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    .h3 {
      padding: 5px;
    }
    &.first {
      background-image: linear-gradient(130deg, rgba(172, 172, 172, .9) 25%, rgba(172, 172, 172, 0.3)), url(https://media.easports.com/content/www-easports/en_US/fifa/news/2015/fifa-16-e3-gameplay-trailer/_jcr_content/headerImages/image.img.jpg);
    }
    &.second {
      background-image: linear-gradient(130deg, rgba(132, 132, 132, .9) 25%, rgba(255, 255, 255, .7)), url(https://s.ndtvimg.com/images/stories/brazuca-640.jpg);
    }
    &:hover {
      background: #f2f2f2;
      color: #222;
      text-shadow: 0px 0px .1px #222;
    }
  }
}