{% extends 'layout.html.twig' %}

{% block body %}

    <div class="jumbotron text-center marginNeg">
        <h1>Avancée du championat</h1>
        <p>Et des sponsors, faut pas déconner ...</p>
    </div>

    <div class="container-fluid  NHLImg">
        <div class="borderFluid">
        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>

        </div>
        <div class="row heightCol">
            <div class="col-md-2 offset-3 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>

        <div class="row heightCol">
            <div class="col-md-2">

            </div>
            <div class="col-md-2 offset-4 borderTree">
                    <p>Equipe</p>
            </div>
        </div>

        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 offset-3 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 borderTree heightCol">
                <p>Equipe</p>
            </div>
            <div class="col-md-3 offset-6 borderTree finalCol">
                <p>Equipe</p>
            </div>

        </div>

        <div class="row heightCol">
            <div class="col-md-2">

            </div>

        </div>

        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 offset-3 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>

        <div class="row heightCol">
            <div class="col-md-2">

            </div>
            <div class="col-md-2 offset-4 borderTree">
                <p>Equipe</p>
            </div>
        </div>

        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 offset-3 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        <div class="row heightCol">
            <div class="col-md-2 borderTree">
                <p>Equipe</p>
            </div>
        </div>
        </div>
    </div>

{% endblock %}