{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}
<div class="container">
    <div class="card ">

        <h1>Teams list</h1>
        <div class="traithaut"></div>



    </div>

    </div>
    {% endblock %}
