{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/navbar.html.twig' %}
    <div class="container">
        <div class="card ">
            <div class="card-header"">
            Editer un joueur        </div>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" role="button" class="btn btn-success" />
        {{ form_end(edit_form) }}



    </div></div>
{% endblock %}
